alabaster==0.7.11
Babel==2.6.0
certifi==2018.4.16
chardet==3.0.4
coverage==4.5.1
docutils==0.14
idna==2.7
imagesize==1.0.0
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.0
opencv-python==3.4.2.17
packaging==17.1
Pillow==9.3.0
pockets==0.6.2
PuLP==1.6.8
Pygments==2.2.0
pyocr==0.5.2
pyparsing==2.2.0
pypng==0.0.18
pytesseract==0.2.4
pytz==2018.5
requests==2.19.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.6
sphinx-rtd-theme==0.4.1
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.1.0
typed-ast==1.1.0
urllib3==1.23
